{{template "base" .}}

{{define "content"}}
<div class="container">
  <h1>this is home page</h1>
 <img
            src="static/images/outside.png"
            class="d-block w-100"
            alt="Woman and laptop"
          />
</div>
{{end}}
