{{template "base" .}}

{{define "content"}}
<div class="container">
 <img
            src="static/images/tray.png"
            class="d-block w-100"
            alt="Woman and laptop"
          />
</div>
{{end}}
